%container {
    width: 100%;
    margin: 0 calc(50% - var(--contentWidth) / 2);
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    :root {
      --contentWidth: var(--desktop)
    }
}

@media (max-width: 768px) {
    :root {
      --contentWidth: var(--tablet)
    }
}
@media (max-width: 426px) {
    :root {
      --contentWidth: var(--mobile)
    }
}

@media (max-width: 375px) {
    :root {
      --contentWidth: var(--mobile_small)
    }
}
