body {
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    font-weight: 400;
    margin: 0;
    background-color: rgb(var(--clr-primary-black));
    color: rgb(var(--clr-white));
}

.page {
    @extend %container;
}

svg {
    width: 100%;
    height: 100%;
}

:focus,
:focus-visible {
    outline: 1px solid rgb(var(--clr-white));
}
