body {
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    font-weight: 400;
    margin: 0;
    background-color: rgb(var(--clr-primary-black));
    color: rgb(var(--clr-white));
    min-height: 100vh;
    min-width: 768px; //because we do not have mobile design
}
.layout {
    display: grid;
    grid-template-rows: auto 1fr;
}

.page {
    @extend %container;
}

svg {
    width: 100%;
    height: 100%;
}


ul, ol, dl {
    margin: 0;
}