:root {

--clr-primary-black: 34, 32, 33; //#222021
--clr-primary-grey: 37, 38, 41; //#252629
--clr-secondary-grey: 42, 44, 48; //#2A2C30
--clr-selected: 52, 33, 72; //#342148
--clr-dark-grey: 77, 78, 81; //#4D4E51
--clr-light-grey: 214, 213, 213; //#D6D5D5
--clr-pale-grey: 172, 172, 172;  //#ACACAC
--clr-white: 255, 255, 255; //#FFFFFF
--clr-gr-blue: 67, 203, 255; //#43CBFF
--clr-gr-purple: 151, 8, 204; //#9708CC
--clr-focus-purple: 151, 71, 255; //#9747FF;
--clr-hover-purple: 137, 55, 244;//#8937F4;
--clr-active-purple: 128, 42, 141; //#802AF1;

--ff-primary: "Lato", sans-serif;
--ff-secondary: "Inter", sans-serif;

--fs-small: 14px;
--fs-base: 16px;

--lh-base: 24px;

--br-base: 48px;
}


