:root {

--clr-primary-black: 34, 32, 33; //#222021
--clr-primary-grey: 37, 38, 41; //#252629
--clr-secondary-grey: 42, 44, 48; //#2A2C30 
--clr-selected: 52, 33, 72; //#342148
--clr-dark-grey: 77, 78, 81; //#4D4E51
--clr-light-grey: 214, 213, 213; //#D6D5D5
--clr-pale-grey: 172, 172, 172;  //#ACACAC
--clr-white: 255, 255, 255; //#FFFFFF
--checkbox-border: 55, 55, 55; //#373737;
--checkbox-checked: 130, 38, 246; //#8226F6;


--ff-primary: "Lato", sans-serif;
--ff-secondary: "Inter", sans-serif;

--fs-small: 14px;
--fs-base: 16px;

}


