<script type="module">
  import iconUser from "@/06_shared/img/svg/user.svg";
  import iconDownload from "@/06_shared/img/svg/download.svg";
  import IconArrowRight from "@/06_shared/img/svg/arrow-right.svg";
  import IconCopy from "@/06_shared/img/svg/copy.svg";
  import IconCheck from "@/06_shared/img/svg/check.svg";
  import IconTick from "@/06_shared/img/svg/tick.svg";
  import IconSearch from "@/06_shared/img/svg/search.svg";
  import IconUp from "@/06_shared/img/svg/chevron-up.svg";
  import IconDown from "@/06_shared/img/svg/chevron-down.svg";

  import IconLogo from "@/06_shared/img/logo.svg"; //не работает
</script>
