.round-checkbox-container {
    position: relative;
    display: inline-block;
}

.round-checkbox {
    display: none;
}

.round-checkbox:checked+.checkbox-label {
    border: 1px solid #8226f6;
    background-color: #8226f6;
}

.round-checkbox+.checkbox-icon {
    color: #525252;
}

.checkbox-icon {
    width: 9px;
    height: 10px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 18px;
    border-radius: 50%;
    background-color: #252629;
    cursor: pointer;
    border: 1px solid #373737;
}

.checkbox-icon path {
    stroke: #525252;/* Цвет по умолчанию */
    transition: stroke 0.3s ease;/* Плавный переход цвета */
}

/* Изменяем цвет stroke, когда чекбокс отмечен */
.round-checkbox:checked+.checkbox-label .checkbox-icon path {
    stroke: #ffffff;
}