.checkbox {
  display: block;
  width: 100%;
  cursor: pointer;
  &__span{
    position: relative;
    display: flex;
    align-items: center;

  &::before{
      content: "";
      display: block;
      position: relative;
      margin-right: 6px;
      left: 0;
      top: 0;
      min-width: 16px;
      height: 16px;
      border: 1px solid rgb(var(--clr-pale-grey));
      border-radius: 4px;
      transition: border-color 0.3s ease-in-out;
    }

  &::after{
      content: "";
      display: none;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -12px;
      width: 25px;
      height: 25px;
      background-image: linear-gradient( 45deg, rgb(var(--clr-gr-purple)), rgb(var(--clr-gr-blue)) );
      mask-image: url(@/06_shared/img/svg/check.svg);
      background-repeat: no-repeat;
      background-position: center;
     }
  }

  &__input{
    opacity: 0;
    width: 0;
    height: 0;
    display: none;

  &:checked + .checkbox__span::after{
    display: block;
  } 

  &:focus + .checkbox__span::before{
    border-color: rgb(var(--clr-focus-purple));
  } 

  &:hover + .checkbox__span::before{
    border-color: rgb(var(--clr-hover-purple));
 }
  &:active + .checkbox__span::before{
    border-color: rgb(var(--clr-active-purple));
 }  
}    
}