//Убираем дефолтную декорацию input
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search {
    width: 100%;
    max-width: 614px;
    &__form {
        display: flex;
        align-items: center;
        padding: 4px;
        border-radius: 56px;
        background: rgb(var(--clr-primary-grey));
        transition: background .25s;  

        &:hover {
            background: rgb(var(--clr-secondary-grey));
        }

        &:focus-within {
            background: rgb(var(--clr-secondary-grey));
        }

        &:focus-within &__round {
            background: rgb(var(--clr-light-grey));
        }
    }

    &__input {
        margin-left: 40px;
        font-size: var(--fs-base);
        font-family: var(--ff-primary);
        line-height: 24px;
        color: rgb(var(--clr-pale-grey));
        outline: none;
        border: none;
        background: transparent;
        width: 100%;
    }

    &__round {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 38px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: none;
        background-color: rgb(var(--clr-dark-grey));
        cursor: pointer;
    }

    &__icon {
        max-width: 22px;
        width: 100%;
        height: 22px;
        
    }
}

@media  (max-width: 992px) {
    .search {
        max-width: 414px;
    }
}

