.catalog {
    display: grid;
    grid-template-columns: minmax(min-content, 200px) 2fr;
    gap: 30px;
    padding-top: 15px;
}

/* Медиазапрос для экранов до 1024px */
@media (max-width: 1024px) {
    .catalog {
        grid-template-columns: 1fr; /* Один столбец, элементы будут под друг другом */
    }
}
