.filter{
    &__top{
      position: relative;
    }
    &__top--clicked{
        border: 2px solid rgb(var(--clr-selected));
        box-shadow: 0 0 1px rgb(var(--clr-selected));
    }
    &__img--rotate{
        transform: rotate(180deg);
    }
  
    &__menu{
        list-style: none;
        padding: 25px 16px 8px 18px;
        background: rgb(var(--clr-secondary-grey));
        border-radius: 0 0 10px 10px;
        color: #9fa5b5;
        position: absolute;
        top: 10px;
        left: 50%;
        width: 100%;
        max-width: 194px;
        max-height: 0;
        overflow: hidden;
        transform: translateX(-50%);
        transition: 0.5s;
        // opacity: 0;
        transition: opacity 0.2s ease-in-out;
        z-index: -1;
    }
    &__menu--open{
        top: 30px;
        max-height: 1000px;
    }
    &__item{
        display: flex;
        align-items: end;
        gap: 3px;
        padding: 4px;
        margin: 4px 0;
        border-radius: 0.5em;
        cursor: pointer;
    }
    &__item span{
        font-size: var(--fs-small);
        color: rgb(var(--clr-white));
    }
}
