.sidebar {
    position: fixed;
    display: flex;
    gap: var(--margin);
    flex-direction: column;
    max-width: 200px;
}

@media (max-width: 1024px) {
    .sidebar {
        position: static;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .sidebar {
display: flex;
        max-width: 100%;
    }
}
@media (max-width: 427px) {
    .sidebar {
        display: flex;
        flex-direction: column;
    }
}