.round-checkbox-container {
    position: relative;
    display: inline-block;

    .round-checkbox {
        display: none; // Скрываем стандартный чекбокс
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17px; // Ширина чекбокса
        height: 18px; // Высота чекбокса
        border-radius: 50%; // Делаем круглый
        background-color: var(--clr-pale-grey); // Начальный цвет фона
        cursor: pointer;
        border: 1px solid rgb(var(--checkbox-border));
        transition: background-color 0.3s ease;

        .checkbox-icon {
            width: 9px; // Ширина изображения
            height: 10px; // Высота изображения
            transition: filter 0.3s ease; // Плавный переход для фильтра
            
            path {
                stroke: rgb(var(--checkbox-icon));/* Цвет по умолчанию */
            }
        }
    }

    // Стили при checked
    .round-checkbox:checked + .checkbox-label {
        border: 1px solid rgb(var(--checkbox-checked));
        background-color: rgb(var(--checkbox-checked)); // Цвет фона при checked

        .checkbox-icon {
            filter: brightness(0) invert(1); // Изменяем цвет иконки при checked
        }
    }
}
