.btn {
  display: inline-block;
  box-sizing: border-box;
  max-width: 200px;
  padding: 4px 8px;
  white-space: nowrap;
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  color: rgb(var(--clr-pale-grey));
  text-decoration: none;
  text-align: center;
  background: transparent;
  border: 1px solid rgb(var(--clr-pale-grey));
  cursor: pointer;

  transition: all .3s ease;
  position: relative;

  &--accent {
    border-radius: 48px;
    padding: 10px 20px;
    color: rgb(var(--clr-white));
    border: none;
  }

  // &--disabled {
  //   opacity: 0.5;
  //   &:hover,
  //   &:focus {
  //     background: linear-gradient(146deg, rgb(var(--clr-gr-blue)) -31%, rgb(var(--clr-gr-purple)) 100%);
  //   }
  // }
}


.btn:before,
.btn:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, rgb(var(--clr-gr-blue)) -75%, rgb(var(--clr-gr-purple)) 100%);
  z-index: -1;
  transition: 0.3s all;
  border-radius: var(--br-base);
}

.btn:before {
  z-index: -2;
}

.btn:after {
  background: linear-gradient(146deg, rgb(var(--clr-gr-blue)) -31%, rgb(var(--clr-gr-purple)) 100%);
  opacity: 0;
}

.btn:hover:after {
  opacity: 1;
}